<?xml version="1.0"?>
<launch>
  <include file="$(find uams_description)/launch/uams_platform_upload_open_manipulator.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher_gui" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uams_description)/rviz/uams_platform_open.rviz" required="true" />
</launch>