<launch>

    <!-- launch the simulation ekf -->
    <node type="simulation_ekf_uav.py" pkg="uams_manipulation" name="uav_ekf_node" output="screen">
    </node>

    <!-- launch the pd controller -->
    <node type="adaptive_control_uav.py" pkg="uams_manipulation" name="uams_ada_control_node" output="screen">
    </node>

</launch>